.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}


.category-circle img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.category-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
    margin-top: 10px;
}

.category-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.category-circle {
    width: auto;
    height: auto;
    border-radius: 50%;
    border: 2px solid #ccc;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: white;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.robot-square {
    width: 150px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 10px;
    background: white;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.1);
}

.robot-name {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.robot-image {
    width: 100px;
    height: 100px;
    border-radius: 0;
    object-fit: contain;
    margin-top: 10px;
}

.view-more {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}