
.item-product-container {
    width: 800px;
    margin: 0 auto;
    background-color: #e6e6e6;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.item-product-top {
    display: flex;
    margin-bottom: 20px;
}

.item-product-image-container {
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    background-color: white;
    padding: 10px;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.item-product-image {
    max-width: 100%;
    max-height: 100%;
}

.item-product-info {
    flex: 1;
}

.item-product-title {
    font-size: 28px;
    margin: 0 0 10px 0;
    font-weight: bold;
}

.item-product-detail {
    margin: 10px 0;
    font-size: 16px;
}

.item-product-cost,
.item-product-weight {
    font-weight: bold;
    margin: 15px 0;
    font-size: 18px;
}

.item-product-description-title {
    font-size: 24px;
    margin: 20px 0 10px 0;
    font-weight: bold;
}

.item-product-description {
    line-height: 1.5;
    color: #333;
}

.delete-item {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 15px;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    align-self: center;
}

.delete-item:hover {
    background-color: #cc0000;
}

.edit-item {
    background-color: #ffe100;
    color: white;
    border: none;
    padding: 15px;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    align-self: center;
}

.edit-item:hover {
    background-color: #e6db00;
}

.cancel-edit {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 15px;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    align-self: center;
}

.cancel-edit:hover {
    background-color: #cc0000;
}

.confirm-edit {
    background-color: #2b40fd;
    color: white;
    border: none;
    padding: 15px;
    font-size: 22px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    align-self: center;
}

.confirm-edit:hover {
    background-color: #1e45b7;
}

.buttons {
    display: flex;
    gap: 10px;
}